In [2]:
import pandas as pd
import numpy as np

In [25]:
url = 'https://raw.githubusercontent.com/russelr01/Aprendizaje-Maquina/main/StudentsPerformance.csv'

data = pd.read_csv(url)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [27]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [28]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [29]:
data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [30]:
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [31]:
data['average'] = (data['math score'] + data['writing score'] + data['reading score']) / 3

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   average                      1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [33]:
relevant = ['gender', 'race/ethnicity', 'parental level of education', 'test preparation course', 'average']

In [34]:
data=data[relevant].copy()

In [35]:
data=data.join(pd.get_dummies(data['gender'],prefix="gender"),how="inner").copy()

In [36]:
data=data.join(pd.get_dummies(data['race/ethnicity'],prefix="race"),how="inner").copy()

In [37]:
data=data.join(pd.get_dummies(data['parental level of education'],prefix="parental_education"),how="inner").copy()

In [38]:
data=data.join(pd.get_dummies(data['test preparation course'],prefix="prep"),how="inner").copy()

In [39]:
data=data.drop(['gender','race/ethnicity', 'parental level of education', 'test preparation course'],axis=1).copy()

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   average                                1000 non-null   float64
 1   gender_female                          1000 non-null   uint8
 2   gender_male                            1000 non-null   uint8
 3   race_group A                           1000 non-null   uint8
 4   race_group B                           1000 non-null   uint8
 5   race_group C                           1000 non-null   uint8
 6   race_group D                           1000 non-null   uint8
 7   race_group E                           1000 non-null   uint8
 8   parental_education_associate's degree  1000 non-null   uint8
 9   parental_education_bachelor's degree   1000 non-null   uint8
 10  parental_education_high school         1000 non-null   uint8
 11  parental_education_master's degree     1000 non-null   uint8
 12  parental_education_some college        1000 non-null   uint8
 13  parental_education_some high school    1000 non-null   uint8
 14  prep_completed                         1000 non-null   uint8
 15  prep_none                              1000 non-null   uint8
dtypes: float64(1), uint8(15)
memory usage: 22.6 KB

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [42]:
Y=data['average']
X=data.drop(["average"],axis=1).copy()

In [43]:
X.head()

,gender_female,gender_male,race_group A,race_group B,race_group C,race_group D,race_group E,parental_education_associate's degree,parental_education_bachelor's degree,parental_education_high school,parental_education_master's degree,parental_education_some college,parental_education_some high school,prep_completed,prep_none
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
2,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
3,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1
4,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1

In [45]:
x_train,x_test,y_train,y_test=train_test_split(X,Y, test_size=0.2,random_state=42)

In [56]:
modelo_bosque=RandomForestRegressor(n_estimators=15,max_depth=9, random_state=42)

modelo_bosque.fit(x_train,y_train)

RandomForestRegressor(max_depth=9, n_estimators=15, random_state=42)

In [57]:
y_hat_train=modelo_bosque.predict(x_train)

In [58]:
mse_train=mean_squared_error(y_hat_train,y_train)
mae_train=mean_absolute_error(y_hat_train,y_train)
r2_train=r2_score(y_hat_train,y_train)

In [59]:
print("el modelo tiene las siguientes métricas en train:")
print("MSE=", mse_train)
print("MAE=", mae_train)
print("R2=" ,r2_train)

el modelo tiene las siguientes métricas en train:
MSE= 149.0919033831108
MAE= 9.74149438867419
R2= -1.9956774073142634

In [60]:
y_hat_test=modelo_bosque.predict(x_test)

In [61]:
mse_test=mean_squared_error(y_hat_test,y_test)
mae_test=mean_absolute_error(y_hat_test,y_test)
r2_test=r2_score(y_hat_test,y_test)

In [62]:
print("el modelo tiene las siguientes métricas en test:")
print("MSE=", mse_test)
print("MAE=", mae_test)
print("R2=" ,r2_test)

el modelo tiene las siguientes métricas en test:
MSE= 224.62699183161007
MAE= 11.691842157870873
R2= -4.191659930678011