In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/russelr01/Aprendizaje-Maquina/main/StudentsPerformance.csv'

data = pd.read_csv(url)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [ ]:
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
data['average'] = (data['writing score'] + data['reading score']) / 2

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   average                      1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [74]:
relevant = ['gender', 'parental level of education', 'test preparation course', 'average', 'lunch']

In [75]:
data=data[relevant].copy()

In [76]:
data=data.join(pd.get_dummies(data['gender'],prefix="gender"),how="inner").copy()

In [78]:
data=data.join(pd.get_dummies(data['parental level of education'],prefix="parental_education"),how="inner").copy()

In [79]:
data=data.join(pd.get_dummies(data['test preparation course'],prefix="prep"),how="inner").copy()

In [80]:
data=data.join(pd.get_dummies(data['lunch'],prefix="lunch"),how="inner").copy()

In [81]:
data=data.drop(['gender', 'parental level of education', 'test preparation course', 'lunch'],axis=1).copy()

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   average                                1000 non-null   float64
 1   gender_female                          1000 non-null   uint8
 2   gender_male                            1000 non-null   uint8
 3   parental_education_associate's degree  1000 non-null   uint8
 4   parental_education_bachelor's degree   1000 non-null   uint8
 5   parental_education_high school         1000 non-null   uint8
 6   parental_education_master's degree     1000 non-null   uint8
 7   parental_education_some college        1000 non-null   uint8
 8   parental_education_some high school    1000 non-null   uint8
 9   prep_completed                         1000 non-null   uint8
 10  prep_none                              1000 non-null   uint8
 11  lunch_free/reduced                     1000 non-null   uint8
 12  lunch_standard                         1000 non-null   uint8
dtypes: float64(1), uint8(12)
memory usage: 19.7 KB

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [84]:
Y=data['average']
X=data.drop(["average"],axis=1).copy()

In [85]:
X.head()

,gender_female,gender_male,parental_education_associate's degree,parental_education_bachelor's degree,parental_education_high school,parental_education_master's degree,parental_education_some college,parental_education_some high school,prep_completed,prep_none,lunch_free/reduced,lunch_standard
0,1,0,0,1,0,0,0,0,0,1,0,1
1,1,0,0,0,0,0,1,0,1,0,0,1
2,1,0,0,0,0,1,0,0,0,1,0,1
3,0,1,1,0,0,0,0,0,0,1,1,0
4,0,1,0,0,0,0,1,0,0,1,0,1

In [126]:
x_train,x_test,y_train,y_test=train_test_split(X,Y, test_size=0.15,random_state=52)

In [145]:
modelo_bosque=RandomForestRegressor(n_estimators=50,max_depth=5, random_state=52)

modelo_bosque.fit(x_train,y_train)

RandomForestRegressor(max_depth=5, n_estimators=50, random_state=52)

In [146]:
y_hat_train=modelo_bosque.predict(x_train)

In [147]:
mse_train=mean_squared_error(y_hat_train,y_train)
mae_train=mean_absolute_error(y_hat_train,y_train)
r2_train=r2_score(y_hat_train,y_train)

In [148]:
print("el modelo tiene las siguientes métricas en train:")
print("MSE=", mse_train)
print("MAE=", mae_train)
print("R2=" ,r2_train)

el modelo tiene las siguientes métricas en train:
MSE= 149.67566129396909
MAE= 9.772176068937158
R2= -1.647214021255555

In [149]:
y_hat_test=modelo_bosque.predict(x_test)

In [150]:
mse_test=mean_squared_error(y_hat_test,y_test)
mae_test=mean_absolute_error(y_hat_test,y_test)
r2_test=r2_score(y_hat_test,y_test)

In [151]:
print("el modelo tiene las siguientes métricas en test:")
print("MSE=", mse_test)
print("MAE=", mae_test)
print("R2=" ,r2_test)

el modelo tiene las siguientes métricas en test:
MSE= 185.79124508397038
MAE= 11.123896634489041
R2= -1.9542750091632892

In [136]:
bias_test = abs(y_test - y_hat_test).mean()
bias_test

11.123896634489041

In [137]:
bias_train = abs(y_train - y_hat_train).mean()
bias_train

9.772176068937158