In [28]:
import pandas as pd
import numpy as np
import math

In [3]:
url = 'https://raw.githubusercontent.com/russelr01/Aprendizaje-Maquina/main/StudentsPerformance.csv'

data = pd.read_csv(url)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
relevant = ['reading score', 'writing score']

In [7]:
data = data[relevant].copy()

In [8]:
x = data['reading score']
y = data['writing score']

In [9]:
m_x = x.mean()
data['d_x'] = m_x-x
data['d_x_sqr'] = data.d_x**2

In [10]:
data.head()

   reading score  writing score     d_x     d_x_sqr
0             72             74  -2.831    8.014561
1             90             88 -20.831  433.930561
2             95             93 -25.831  667.240561
3             57             44  12.169  148.084561
4             78             75  -8.831   77.986561

In [11]:
sum_dev_x = data.d_x_sqr.sum()

In [12]:
m_y = y.mean()
data['d_y'] = m_y-y

In [13]:
sum_dev_x_y = (data.d_x * data.d_y).sum()

In [14]:
m = sum_dev_x_y/sum_dev_x
m

0.9935311142409596

In [16]:
b = m_y - m*m_x
b

-0.6675536409329368

In [18]:
score_pred = []
for i in data['reading score']:
  score_pred.append(m*i + b)

In [21]:
mse = ((data['writing score'] - score_pred)**2).mean()
mse

20.470863689389343

In [30]:
me = math.sqrt(mse)
me

4.5244738577418415